<html>
	<head>
		<title>Example</title>
	</head>
	<body>
		<table width="100%">
			<tr>
				<th>Nom et Prenom<th>
				<th>Email</th>
				<th>Telephone</th>
			</tr>
			<tr>
				<td>Mouad EL Fakir</td>
				<td>mouad.fkr@gmail.com</td>
				<td>12345649889</td>
			</tr>
			<tr>
				<td>Mouad EL Fakir</td>
				<td>mouad.fkr@gmail.com</td>
				<td>12345649889</td>
			</tr>
		</table>
	</body>
</html>