<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	<!-- MailSender -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="mouad.elfakir@gmail.com" />
		<property name="password" value="nbaacot123" />
		
		<property name="javaMailProperties">
			<props>
            	<prop key="mail.smtp.auth">true</prop>
            	<prop key="mail.smtp.starttls.enable">true</prop>
        	</props>
		</property>
	</bean>
	
	<bean id="customeMailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="mouad.fkr@gmail.com" />
		<property name="subject" value="NoReply" />
		<property name="text">
		<value>
			<![CDATA[
				Dear %s,
				Mail Content : %s
			]]>
		</value>
	</property>
	</bean>
	
	<bean id="sqlimail" class="com.sqli.echallenge.formation.util.SqliMail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
	</bean>
	<!-- End Mail -->
	
	
	<!-- Utilisateur -->	
	<bean id="utilisateur_dao" class="com.sqli.echallenge.formation.dao.UtilisateurDaoImpl"></bean>	
	<bean id="utilisateur_metier" class="com.sqli.echallenge.formation.metier.UtilisateurMetierImpl">
		<property name="dao" ref="utilisateur_dao"></property>
	</bean>
	
	<!-- Profil -->	
	<bean id="profil_dao" class="com.sqli.echallenge.formation.dao.ProfilDaoImpl"></bean>	
	<bean id="profil_metier" class="com.sqli.echallenge.formation.metier.ProfilMetierImpl">
		<property name="dao" ref="profil_dao"></property>
	</bean>
	
	<!-- Action -->	
	<bean id="action_dao" class="com.sqli.echallenge.formation.dao.ActionDaoImpl"></bean>	
	<bean id="action_metier" class="com.sqli.echallenge.formation.metier.ActionMetierImpl">
		<property name="dao" ref="action_dao"></property>
	</bean>
	
	<!-- Collaborateur -->	
	<bean id="collaborateur_dao" class="com.sqli.echallenge.formation.dao.CollaborateurDaoImpl"></bean>	
	<bean id="collaborateur_metier" class="com.sqli.echallenge.formation.metier.CollaborateurMetierImpl">
		<property name="dao" ref="collaborateur_dao"></property>
	</bean>
	
	<!-- Habilitation -->	
	<bean id="habilitation_dao" class="com.sqli.echallenge.formation.dao.HabilitationDaoImpl"></bean>	
	<bean id="habilitation_metier" class="com.sqli.echallenge.formation.metier.HabilitationMetierImpl">
		<property name="dao" ref="habilitation_dao"></property>
	</bean>
	
	<!-- HabilitationScore -->	
	<bean id="habilitation_score_dao" class="com.sqli.echallenge.formation.dao.HabilitationScoreDaoImpl"></bean>	
	<bean id="habilitation_score_metier" class="com.sqli.echallenge.formation.metier.HabilitationScoreMetierImpl">
		<property name="dao" ref="habilitation_score_dao"></property>
	</bean>
	
	<!-- ProfilAction -->	
	<bean id="profil_action_dao" class="com.sqli.echallenge.formation.dao.ProfilActionDaoImpl"></bean>	
	<bean id="profil_action_metier" class="com.sqli.echallenge.formation.metier.ProfilActionMetierImpl">
		<property name="dao" ref="profil_action_dao"></property>
	</bean>
	
	<!-- Formation -->	
	<bean id="formation_dao" class="com.sqli.echallenge.formation.dao.FormationDaoImpl"></bean>	
	<bean id="formation_metier" class="com.sqli.echallenge.formation.metier.FormationMetierImpl">
		<property name="dao" ref="formation_dao"></property>
	</bean>
	
	<!-- SessionFormation -->	
	<bean id="session_formation_dao" class="com.sqli.echallenge.formation.dao.SessionFormationDaoImpl"></bean>	
	<bean id="sessino_formation_metier" class="com.sqli.echallenge.formation.metier.SessionFormationMetierImpl">
		<property name="dao" ref="session_formation_dao"></property>
	</bean>
	
	<!-- Seance -->	
	<bean id="seance_dao" class="com.sqli.echallenge.formation.dao.SeanceDaoImpl"></bean>	
	<bean id="seance_metier" class="com.sqli.echallenge.formation.metier.SeanceMetierImpl">
		<property name="dao" ref="seance_dao"></property>
	</bean>
	
	<!-- SessionInscription -->	
	<bean id="session_inscription_dao" class="com.sqli.echallenge.formation.dao.SessionInscriptionDaoImpl"></bean>	
	<bean id="session_inscription_metier" class="com.sqli.echallenge.formation.metier.SessionInscriptionMetierImpl">
		<property name="dao" ref="session_inscription_dao"></property>
	</bean>
	
	<!-- Hibernate JPA Config -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/DB_ECHALLENGE_GESTION_FORMATION"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	
	<bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
</beans>
